.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  min-width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    min-width: 24px;
    height: 24px;
    background-color: #000;
    mask-image: url(../images/sprite.svg#icon-check);
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    transition: background-color .3s;
  }

  &--delete {
    &::before {
      mask-image: url(../images/trash.svg);
    }
  }
}